.contentGrayLine{
    background-color: #298b9c22;
}

.contentValueCell{
    display: flex;
    justify-content: space-between;
}


td{
    border-left: 1px solid #ddd;
    padding: 8px 8px;
}

.contentCellExpense > img{
    width: 15px;
    cursor: pointer;
}