.createExpenseForm{
    width: 90%;
    margin: auto;
}

.labelInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 75px;
    justify-content: space-between;
    width: 100%;
}

.labelInput > input, select{
    height: 40px;
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid #4cc2ce;
    padding: 0 12px;
    background-color: #eee;
}

.labelInput > label{
    font-size: 1.2em;
}

.display{
    display: flex;
    justify-content: space-between;
    height: 75px;
}

.display > div{
    max-width: 48%;
    margin: 0;
}

.submitButton{
    height: 40px;
    border: none;
    padding: 0 12px;
    background-color: #4cc2ce;
    width: 100%;
    margin: 20px 0 50px 0;
    transition: 0.25s;
    font-size: 1.2em;
    color: black;
}

.submitButton:hover{
    background-color: #afd7db;
    transition: 0.25s;
}