.createExpenseForm{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.labelInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75px;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.labelInput > input, select{
    height: 40px;
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid #4cc2ce;
    padding: 0 12px;
    background-color: #eee;
}

.labelInput > label{
    font-size: 1.2em;
}

.display{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    height: 75px;
}

.display > div{
    max-width: 48%;
    margin: 0;
}

.submitButton{
    height: 45px;
    border: none;
    padding: 0 12px;
    width: 25%;
    margin: 30px auto 0 auto;
    border-radius: 15px;
    color: #444;
    font-weight: 400;
    transition: 0.25s;
    font-size: 1.1em;
    box-shadow: 0px 0px 20px #ddd;
    background-color: #4cc2ce;
    cursor: pointer;
    text-align: center;


    
    background-color: #d0ebef;
    border-radius: 3px;
    border: 1px solid #298b9c;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #298b9c;
}


.submitButton:hover{
    background-color: #eee;
    transition: 0.25s;
}