.createExpenseContainer{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.labelInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
    width: 100%;
}

.labelInput > input, select, textarea{
    height: 40px;
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid #4cc2ce;
    padding: 5px 12px 0 10px;
    background-color: #f3f3f3;
    font-size: 1em;
    margin-top: 10px;
}

.labelInput > textarea{
    height: 80px;
    padding: 10px;
}

.labelInput > label{
    font-size: 1.2em;
}

.displayTwo{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    height: 75px;
}

.displayTwo > div{
    max-width: 48%;
    margin: 0;
}

.submitButton{
    height: 45px;
    border: none;
    padding: 0 12px;
    width: 40%;
    color: #444;
    font-weight: 400;
    transition: 0.25s;
    font-size: 1.1em;
    box-shadow: 0px 0px 20px #ddd;
    background-color: #4cc2ce;
    cursor: pointer;
    text-align: center;
    background-color: #d0ebef;
    border-radius: 3px;
    border: 1px solid #298b9c;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #298b9c;
}


.submitButton:hover{
    background-color: #bebebe;
    transition: 0.25s;
}


.lockedInput{
    background-color: #000;
}

.centerSubmitButton{
    margin-top: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
  }