.creditsTable{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    box-shadow: 0px 0px 10px #ddd;
    border: 1px solid #ddd;
}

.titleLineCredit{
    color: white;
    font-weight: bolder;
    font-size: 1em;
    background-color: #298b9c;
}

.titleDetailsCredit{
    width: 10px;
}

.titleDeleteCredit{
    width: 10px;
}

.titleValorCredit{
    width: 12.5%;
}

.titleGrupoCredit{
    width: 15%;
}

.titleCategoriaCredit{
    width: 15%;
}

th{
    /* border: 1px solid black; */
    border-left: 1px solid #ddd;
    padding: 8px 8px;
}

.creditTitleAdd{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.creditAddButton{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    height: 40px;
    width: 120px;
    border: none;
    border: 1px solid #ddd;
    font-weight: bold;
    cursor: pointer;
    background-color: #298b9c;
    color: white;
}

.creditAddButton > img{
    width: 15px;
}