.labelInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
    width: 100%;
}

.labelInput > input, select, textarea{
    height: 40px;
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid #4cc2ce;
    padding: 5px 12px 0 10px;
    background-color: #f3f3f3;
    font-size: 1em;
    margin-top: 10px;
}
