.expenseDisplayFilter{
    background-color: #298b9c22;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 40px;
    border: 1px solid #ddd;
}

.labelFilter{
    display: flex;
    flex-direction: column;
    
}

.labelFilter > input, select{
    height: 40px;
    margin: 10px 0 0 0;
    border: none;
    border: 1px solid #ddd;
    background-color: white;
}

.labelFilter > button{
    background-color: #298b9c;
    border: none;
    border: 1px solid #ddd;
    color: white;
    height: 40px;
    margin: 10px 0 0 0;
}

.labelFilter > label {
    font-size: 1em;
    font-weight: bold;
    height: 20px;
}

.displayFilterField1{
    width: 45%;
}

.displayFilterField2{
    width: 20%;
}

.displayFilterField3{
    width: 20%;
}

.displayFilterField4{
    width: 10%;
}